<!DOCTYPE html>
<html lang="en">

<head>

	<% include ./partials/head.ejs %>

</head>

<body>

	<% include ../static/partials/messages.ejs %>

	<!-- Navigation -->

	<% include ./partials/navbar.ejs %>

	<!-- Page Content -->
	<main class="container">
		<img src="mountain.jpg" />


		<!-- Jumbotron Header -->

		<div class="hero-image">

			<!-- Page Features -->
			<!-- <section class="row text-center">

				<section class="col-lg-4">
					<h4 class="card-title"></h4>
					<p class="card-text"></p>
				</section>

				<section class="col-lg-4">
					<h4 class="card-title"></h4>
					<p class="card-text"></p>
				</section>

				<section class="col-lg-4">
					<h4 class="card-title"></h4>
					<p class="card-text"></p>
				</section>

			</section> -->
		</div>

		<div class="jumbotron my-4">
			<h1 class="display-3">Kerrypedia</h1>
			<p>The online encyclopedia where everyone has a say</p>
			<p></p>
			<p class="lead"></p>
			<% if(!currentUser) { %>
			<a href="/users/signup" class="btn btn-primary btn-lg">Sign up</a>
			<% } %>
		</div>
		<!-- /.row -->

	</main>
	<!-- /.container -->

	<% include ./partials/baseScripts.ejs %>

</body>

</html>